@font-face {
    font-family: AdventSans;
    src: url(/assets/font/AdventSans-Logo.otf);
}
@media screen and (min-width: 200px) { 
    body {
        margin: 30px;
        background-image: url(/assets/img/daniel-mccullough--FPFq_trr2Y-unsplash.jpg);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        position: relative;
        height: 700px;
        background-color: rgb(255, 255, 255);
    }
    #logo_aso{
        width: 200px;
    }
    .construccion{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        font-family: AdventSans;
        color: #000000;
    }
    
    .construccion h1{
        padding-top: 150px;
        font-size: 20px;
    }
    
    .construccion p{
        font-weight: bold;
    }
}
@media screen and (min-width: 400px) { 
    body {
        margin: 30px;
        background-image: url(/assets/img/daniel-mccullough--FPFq_trr2Y-unsplash.jpg);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        position: relative;
        height: 700px;
        background-color: rgb(255, 255, 255);
    }
    #logo_aso{
        width: 400px;
    }
    .construccion{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        font-family: AdventSans;
        color: #000000;
    }
    
    .construccion h1{
        padding-top: 150px;
        font-size: 20px;
    }
    
    .construccion p{
        font-weight: bold;
    }
}
@media screen and (min-width: 720px) { 
    body {
        margin: 30px;
        background-image: url(/assets/img/daniel-mccullough--FPFq_trr2Y-unsplash.jpg);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        position: relative;
        height: 700px;
        background-color: rgb(255, 255, 255);
    }
    #logo_aso{
        width: 400px;
    }
    .construccion{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        font-family: AdventSans;
        color: #000000;
    }
    
    .construccion h1{
        padding-top: 150px;
        font-size: 30px;
    }
    
    .construccion p{
        font-weight: bold;
    }
}
@media screen and (min-width: 1080px) { 
    body {
        margin: 30px;
        background-image: url(/assets/img/daniel-mccullough--FPFq_trr2Y-unsplash.jpg);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        position: relative;
        height: 700px;
        background-color: rgb(255, 255, 255);
    }
    #logo_aso{
        width: 400px;
    }
    .construccion{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        font-family: AdventSans;
        color: #000000;
    }
    
    .construccion h1{
        padding-top: 150px;
    }
    
    .construccion p{
        font-weight: bold;
    }
}
/*
body {
    margin: 30px;
    background-image: url(/assets/img/daniel-mccullough--FPFq_trr2Y-unsplash.jpg);      
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    height: 700px;
    background-color: rgb(255, 255, 255);
}
*/

